html,body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;

}

#contenedor{
width: 960px;
height: auto;
/*min-height: 1050px;*/
margin:0 auto; 
background: #000;
}

#logogama{
width: 300px;
height: 100px;
margin: 20px 0px 10px 20px;
background: url(../img/logo.png) no-repeat;
float:left;
display: block;
}

/*Boton de Redes sociales*/


/*#rsociales{
	width: 101px;
	height: 100px;
	margin: 20px 20px 0px 0px;
	background: url(../img/r_sociales.png) no-repeat;
	float: right;
	display: block;
}*/

.rsociales { 
	width: 120px; 
/*	margin-left: auto; */
	margin: 20px 20px 0px 0px;
	/*padding-top:18px;*/  
	float: right;
	display: block;
}
.rsociales a { width: 31px; height: 31px; float:left; margin-left: 6px;  background: url(../img/r_sociales.png) no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; }

.rsociales a.facebook-ico { background-position: 0 0; }
.rsociales a.facebook-ico:hover { background-position:-2px bottom; }

.rsociales a.twitter-ico { background-position:-35px 0; }
.rsociales a.twitter-ico:hover { background-position:-37px bottom; }

.rsociales a.youtube-ico { background-position:-70px 0; }
.rsociales a.youtube-ico:hover { background-position:-72px bottom; }




/*Fin Redes sociales*/

/*MENU PRINCIPAL*/
#nav{
width: auto;
height: auto;
margin: 30px 0px 0px 0px;
/*background: url(../img/nav.png) repeat-y;*/
position: relative;
display: block;
float: left;

}
#nav ul {
      list-style: none;
	  margin-left: 10px;
	  padding: 0;
    }
    #nav li {
      display: inline-block;
/*      text-decoration: underline;*/
    }
    #nav a {
      display: inline-block;
      
      color: #333;
      padding: 5px 15px;
      /*text-decoration: none;*/
    }
    #nav a:hover {
      /*background: red;*/
      font-size: 14px;
    }
    #nav a.active {
      /*background: #3a536b;*/
      font-size: 14px;
    }
    #nav select {
      display: none;
    }

/*FIN MENU*/

#tituloencabezado{
	width: 100%;
	height: auto;
	display: block;
	font-size: 24px;
	text-shadow: 4px 4px 10px #aaa;
	text-align: center;
	clear: both;
}

#tituloencabezado h1{
font-family: 'Tangerine', serif;
margin: 0;
padding: 0;
}

#tituloencabezado h2{
font-family: 'Life Savers', cursive;
font-size: 20px;
margin: 0;
padding: 0;
}

#tituloencabezado h3{
font-family: 'Roboto', sans-serif;
font-size: 15px;
font-weight: 300;
margin: 5;
padding: 0;
}

#cuerpo{
width: 960px;
height: auto;
/*background: url(../img/cuerpo.png) repeat-y;*/
background: #fff;
/*min-height: 800px;/*Cambiar a auto cuando tenga contendio*/
margin-top: 5px;







}
#footer{
width: 960px;
min-height: 100px;
background: url(../img/footer_bg.jpg) repeat;
clear: both;

}

/*Seccion Introduccion*/
.intro{
	background: #C5DADF repeat;
	width: 100%;
	/*min-height: 50px;*/
	height: auto;
}
/*Modulo de Video*/
#video{
	width: 420px;
	height: auto;
	display: block;
	margin: 20px 0 0 20px;
	padding: 0 30px;
	position: relative;
	float: left;
	background: #F5F5F5;

}

#video h1{
	font-size: 15px;	
}

/*Formulario de Subscripcion*/
.form_subscripcion{
	width: 340px;
	height: auto;
	display: block;
	margin: 20px 20px 0 0;
	padding: 0 30px;
	position: relative;
	float: right;
	background: #F5F5F5;
}

.form_subscripcion h1{
	font-size: 15px;
}

.form_subscripcion #tnombre, #tcorreo, #tdominio{
	width: 100%;

}
.form_subscripcion label{
	display: block;
	margin-top: 20px;
	letter-spacing: 1px;
}

/*Seccion de Nuestros Productos*/
.productos{
	
	height: auto;
	background: #F5F5F5;
	clear: both;
	margin: 20px 0 20px 0;
	padding: 20px;
	display: block;
	position: relative;
	clear: both;

}
#listadoproductos{
	width: 245px;
	height: 300px;
	margin: 20px;
	display: block;
	position: relative;
	float: left;
	background: #fff;
	border-radius: 15px;
	padding: 10px;
	box-shadow: 2px 2px 5px #999;
}
.productos footer{
	background: #abc;
	clear: both;
}
/*Seccion de Promociones*/
/*Seccion de Regalos*/
/*Seccion Clientes*/
/*Seccion Testimonios*/
/*Seccion Visita nuestro Blog para leer mas sobre el tema que es */
/*Seccion Pedidos*/
/*Seccion Garantia*/
/*Pie de Pagina